
path.state {
  cursor: pointer;
}

.state-map-wrap {
  padding: 115px 15px 120px 15px;
  max-width: 1140px;
  margin: 0 auto;
}

.state-map-wrap__text {
  font-size: 1.25rem;
  margin-bottom: 20px;
}

.state-map-wrap__content {
  position: relative;
}

.small-states-wrap {
  position: absolute;
  right: 0;
  top: 280px;
}

.small-state {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

.small-state__box {
  margin-right: 10px;
  width: 20px;
  height: 20px;
  background-color: #343F49;
  cursor: pointer;
}

.small-state__box:hover {
  background-color: #e71b4f;
}

.small-state__box-text {
  font-size: 1.125rem;
  line-height: 1.35rem;
}

@media (max-width: 849px) {
  .small-states-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: static;
    width: auto;
  }

  .small-state {
    display: block;
    margin-right: 15px;
    text-align: center;
  }

  .small-state:last-child {
    margin-right: 0;
  }

  .small-state__box {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 5px;
  }

  .small-state__box-text {
    font-size: 0.9rem;
    line-height: 1rem;
  }

  .small-state {
    margin-right: 10px;
  }
}
